:root {
  --team1: "M164.482 3.59734C203.98 5.33709 245.873 2.74805 275.809 28.5519C307.481 55.8526 326.454 98.1799 322.476 139.785C318.746 178.801 286.283 206.236 256.396 231.621C229.672 254.318 199.548 273.238 164.482 273.975C128.7 274.727 96.2638 258.278 68.618 235.568C37.2374 209.789 5.90412 180.094 1.1304 139.785C-4.10459 95.5802 8.68033 46.8107 42.8869 18.2924C75.4748 -8.87639 122.081 1.72969 164.482 3.59734Z";

  --team2: "M263.671 5.31108C299.269 21.8768 319.498 59.8949 328.78 98.0463C337.855 135.35 334.956 176.266 312.907 207.694C292.234 237.162 254.719 245.239 219.693 253.541C186.04 261.518 152.189 265.803 119.887 253.447C80.7964 238.494 42.5795 216.871 24.7897 178.987C3.84424 134.382 -13.0727 75.0029 18.2155 36.9334C49.0324 -0.562525 108.871 24.3138 157.008 18.1123C193.929 13.3557 229.92 -10.3948 263.671 5.31108Z";

  --team3: "M144.712 0.0898829C184.583 1.3437 223.752 17.4917 249.335 48.0744C273.14 76.5306 270.582 115.566 272.301 152.613C274.154 192.564 284.52 236.094 259.508 267.317C232.839 300.608 187.363 313.364 144.712 311.886C103.435 310.456 65.3657 290.189 37.611 259.628C11.1828 230.528 0.842294 191.901 0.0646696 152.613C-0.731998 112.363 5.5762 70.5025 33.2892 41.2805C61.6061 11.4217 103.564 -1.20407 144.712 0.0898829Z";
}

.team {
  margin-bottom: 100px;
  p {
    text-align: center;
    margin: 0 auto;
    width: 352px;
    margin-bottom: 30px;
  }

  .team__people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team__item {
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    img {
      max-height: none;
    }
  }

  // .team__item:nth-child(3n + 2) picture:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: -70%;
  //   height: 205px;
  //   width: 378px;
  //   background-image: url(../../../assets/line1.svg);
  //   background-position: center;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   z-index: 1;
  // }

  .team__item:nth-child(even) {
    transform: translateY(35%);
    -webkit-transform: translateY(35%);
    -moz-transform: translateY(35%);
    -ms-transform: translateY(35%);
    -o-transform: translateY(35%);
}

  // change shape of images
  .team__item1 {
    clip-path: path(var(--team1));
  }

  .team__item2 {
    clip-path: path(var(--team2));
  }

  .team__item3 {
    clip-path: path(var(--team3));
  }
  //

  .team__item:nth-child(3n + 2):before {
    content: "";
    position: absolute;
    top: 0;
    left: -70%;
    height: 205px;
    width: 378px;
    background-image: url(../../../assets/line1.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .team__item:nth-child(3n + 2):after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -70%;
    height: 205px;
    width: 378px;
    background-image: url(../../../assets/line2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
