.login {
  background-color: #ffbd9e;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 104px 104px 104px 82px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  p {
    max-width: 384px;
    width: 100%;
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #f7f3f4;
    padding: 40px 55px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;

    input {
      background: #ffffff;
      padding: 12px 24px;
      margin-bottom: 16px;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
    }

    .btn {
      margin-top: 32px;
    }
  }

  form::after {
    content: "";
    position: absolute;
    top: -18px;
    right: -25px;
    width: 72px;
    height: 44px;
    background-image: url(../../../assets/login1.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  form::before {
    content: "";
    position: absolute;
    top: 37px;
    right: -16px;
    width: 40px;
    height: 20px;
    background-image: url(../../../assets/login2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1024px) {
  .login {
    flex-direction: column;
    padding: 42px 18px 56px 18px;

    p {
        max-width: 758px;
      }

    form {
      margin-top: 55px;
      padding: 40px 24px;
      width: 100%;
      max-width: 600px;
    }
  }
}
