.slider {
  background-color: #ffbd9e;
  max-width: 1670px;
  width: 100%;
  margin: 0 auto;
  padding: 104px 0px;
  position: relative;
  overflow-x: hidden;

  .slick-track {
    transition: all 0s ease;
  }

  .control-btn {
    padding: 0;
    cursor: pointer;
  }

  .prev {
    left: 44%;
    bottom: 0%;
    width: 50px;
    height: 50px;
    background-image: url(../../../assets/leftArrow.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 2;
  }

  .next {
    right: 44%;
    bottom: 0%;
    width: 50px;
    height: 50px;
    background-image: url(../../../assets/rightArrow.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 2;
  }

  h5 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    margin-bottom: 8px;
  }

  .slide__text {
    position: absolute;
    width: 280px;
    top: 40%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .bg {
    display: none;
  }

  .bg-shadow {
    display: none;
  }

  p {
    display: none;
  }

  .slider__items {
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 85%;
    }
  }

  .slick-slider {
    scale: 1.2;
  }

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  .slick-slide.slick-current {
    .bg {
      display: block;
      width: 100%;
    }

    .bg-shadow {
      display: block;
      width: 110%;
      height: 110%;
      top: 0%;
      left: 0;
      opacity: 0.2;
      position: absolute;
      z-index: 1;
      scale: 1.1;
    }

    p {
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.9;
    }

    .image {
      position: absolute;
      max-width: 45%;
      width: 100%;
      top: -15%;
      left: 0%;
      z-index: 3;
    }

    h5 {
      color: #1e1a20;
      opacity: 0.9;
    }
  }
}

.pages {
  line-height: 32px;
  font-size: 22px;
  color: #000;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);

  .totalSlides {
    opacity: 0.2;
  }
}

@media screen and (max-width: 1024px) {
  .slider {
    .prev {
      left: 30%;
    }

    .next {
      right: 30%;
    }
  }
}

@media screen and (max-width: 900px) {
  .slider {
    .slick-slider {
      scale: 1;
    }
    .slick-slide {
      height: 420px;
    }
    .prev {
      bottom: calc(-50px + (-45 + 50) * ((100vw - 500px) / (900 - 500)));
    }

    .next {
      bottom: calc(-50px + (-45 + 50) * ((100vw - 500px) / (900 - 500)));
    }
  }
}

@media screen and (max-width: 500px) {
  .slider {
    .slick-slider {
      scale: 0.9;
    }
    .prev {
      left: 20%;
      bottom: calc(-75px + (-80 + 75) * ((100vw - 320px) / (500 - 320)));
    }

    .next {
      right: 20%;
      bottom: calc(-75px + (-80 + 75) * ((100vw - 320px) / (500 - 320)));
    }
  }
}
