@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,regular,500,600,700,800,900);

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden;
  font-family: "Poppins";
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  color: #1e1a20;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: var(--bg-black-100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--skin-color);
  border-radius: 10px;
}
// /reset

h2 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

h3 {
  font-weight: 600;
  line-height: 56px;
  font-size: 32px;
  margin-bottom: 24px;
  text-align: center;
}

h4 {
  font-weight: 700;
  font-size: 34px;
}

h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.3px;
}

a {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.btn {
  background-color: #f2726c;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 32px;
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.btn:hover {
  background-color: #7675fd;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
}

.header__container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktopHidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .mobileHidden {
    display: none;
  }
  
  .desktopHidden {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  p {
    font-size: 15px;
    line-height: 175%;
  }
}
