.banner {
  padding: 69px 18px 96px;
  display: flex;
  background-color: #f7f3f4;
  margin-bottom: 192px;

  .container {
    max-width: 1120px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 18px;
  }
}

.bannerLeft {
  width: 60%;

  p {
    font-size: 16px;
    max-width: 448px;
    width: 100%;
    margin: 48px 0;
  }

  input {
    width: 100%;
    margin: 0 10px;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 448px;
  width: 100%;
  padding: 8px 8px 8px 22px;
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;

  img {
    margin-right: 13px;
  }
}

.bannerRight {
  width: 40%;
  position: relative;
  display: flex;
  align-items: flex-end;

  .banner__card {
    padding: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../../../assets/card.svg);
    width: 270px;
    height: 320px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

    img {
      width: 48px;
      height: 56px;
    }
  }

  p {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-transform: capitalize;
    color: #ffffff;
  }

  span {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: #ffffff;
  }

  .bird {
    width: 458px;
    height: 565px;
    position: relative;
    padding-top: 20px;

    &:hover {
    }
  }

  .parrot {
    position: absolute;
    left: 52%;
    z-index: 1;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .eye {
    position: absolute;
    top: 8%;
    left: 57%;
    z-index: 2;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    animation: clip 4s infinite;
    -webkit-animation: clip 4s infinite;
  }

  @keyframes clip {
    0% {
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }

    95% {
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }

    100% {
      transform: scale(1, -1) translateX(-50%);
      -webkit-transform: scale(1, -1) translateX(-50%);
      -moz-transform: scale(1, -1) translateX(-50%);
      -ms-transform: scale(1, -1) translateX(-50%);
      -o-transform: scale(1, -1) translateX(-50%);
    }
  }

  .par {
    position: absolute;
    right: 0;
  }

  .par1 {
    top: -20px;
    right: 20%;
  }

  .par2 {
    top: 0px;
    right: -50px;
  }

  .par3 {
    top: 170px;
    right: 0;
  }

  .par4 {
    top: 303px;
    right: 40px;
  }

  .par5 {
    top: 356px;
    right: 90px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    margin-bottom: 100px;
    .container {
      flex-direction: column;
    }
  }

  .bannerLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      max-width: 758px;
      margin: 30px 0 40px;
      font-size: 15px;
      line-height: 32px;
    }
  }

  .bannerLeft__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search button {
    padding: 16px 15px;
    letter-spacing: 1px;
  }

  .bannerRight {
    width: 100%;
    padding-top: 50px;

    .banner__card {
      width: 215px;
      height: 256px;
      bottom: 20%;
    }

    p {
      font-size: 15px;
    }

    span {
      font-size: 40px;
    }

    .parrot {
      left: 75%;
    }

    .eye {
      left: 81%;
    }

    .par {
      position: absolute;
      right: 0;
    }

    .par1 {
      top: -7%;
      right: 2%;
    }

    .par2 {
      top: 0px;
      right: -45%;
    }

    .par3 {
      top: 30%;
      right: -26%;
    }

    .par4 {
      top: 52%;
      right: -16%;
    }

    .par5 {
      top: 63%;
      right: -2%;
    }
  }
}
