.banner {
  padding: 69px 0 96px;
  display: flex;
}

.bannerLeft {
  width: 60%;

  p {
    font-size: 16px;
    max-width: 448px;
    width: 100%;
    margin: 48px 0;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 448px;
  width: 100%;
  padding: 8px 8px 8px 22px;
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;

  img {
    margin-right: 13px;
  }
}

.bannerRight {
  width: 40%;
  position: relative;
  display: flex;
  align-items: flex-end;
  .banner__card {
    padding: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../../../assets/card.svg);
    width: 270px;
    height: 320px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    img {
      width: 48px;
      height: 56px;
    }
  }
  p {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-transform: capitalize;
    color: #ffffff;
  }
  span {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: #ffffff;
  }
  .bird {
    width: 458px;
    height: 565px;
    position: relative;
    &:hover {
      
    }
  }
  .parrot {
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .eye {
    position: absolute;
    top: 4%;
    left: 57%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    animation: clip 4s infinite;
    -webkit-animation: clip 4s infinite;
}
  @keyframes clip {
    0% {
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    95% {
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    100% {
      transform: scale(1, -1) translateX(-50%);
      -webkit-transform: scale(1, -1) translateX(-50%);
      -moz-transform: scale(1, -1) translateX(-50%);
      -ms-transform: scale(1, -1) translateX(-50%);
      -o-transform: scale(1, -1) translateX(-50%);
    }
  }
  
}
